@tailwind base;
@tailwind components;
@tailwind utilities;

.owner{
    flex-direction: row-reverse;
  
}
.messageContent{
    align-items: flex-start;
}
.ownerp{
    background-color: #818cf8;
    color: white;
    column-rule: white;
    border-radius: 12px 0px 12px 12px;;
}
.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .color{
    background-color: rgb(142, 155, 255);
  }